<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Author </title>
</head>
<body>
    <h1> Для {{ref_action}}</h1>
    {{ temp }}
    <form action="" method="POST">
    <p> {% csrf_token %}
    </p>
    <p> {{ form }} </p>
    <p> <button type="submit">Отправить</button> </p>
    </form>
</body>
</html>

