<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удаление</title>
</head>
<body>
{%if request.user.is_authenticated %}

<h1>Delete {{ dscr }}?</h1>

<form method="POST" action="">
{% csrf_token %}
Вы уверены, что хотите удалить ?
<input type="submit" value="Да"/>
<a href="/shop-admin/ref/delete/{{ object.name }}/"> </a>
<a href="/staff-admin/"> Отмена </a>
</form>
{% endif %}

</body>
</html>