<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
</head>
<body>
<a href="/staff-admin/"> Back to admin portal </a>
<h1>{{ dscr }}</h1>
Серия <p>
    <b>{{ object.name }}</b><p>
Описание <p>
{{ object.description }}
<p> Обратно к списку жанров <a href="/shop-admin/ref/list-genres/"> Список жанров </a><br><br></p>
</body>
</html>