<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/staff-admin/"> Back to admin portal </a>
<h1>{{ dscr }}</h1>
Значение <p>
    <b>{{ object.name }}</b><p>
Описание <p>
{{ object.description }}


<p> Обратно к списку  <a href="/shop-admin/ref/list-authors/"> Список авторов </a><br><br></p>

<br><br>
</body>
</html>