<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/staff-admin/"> Back to admin portal </a>
<h1>{{ dscr }}</h1>
<table>
{% for object in object_list %}
<tr>
    <td>{{ object.name }} </td>
    <td>{{ object.description }} </td><p>
    <td><a href="{{ object.get_view_url }}"> Посмотреть </a></td>
    <td><a href="{{ object.get_update_url }}"> Редактировать </a></td>
    <td><a href="{{ object.get_delete_url }}"> Удалить </a></td>
</tr>
{% endfor %}
</table>
</body>
</html>