<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Shop </title>
</head>
<body>
<h1> Shop Main Page </h1>
<h2></h2>
<ul>
    {% if user.is_superuser %}
        <li><a href="/staff-admin/"> Admin portal</a></li>
    {% endif %}
</ul>
{% if user.is_authentificated %}
{{ user.username }}
{% endif %}
</body>
</html>